body {
    margin: 0;
    min-height: 100vh;
    overflow-x: hidden;
    font-family: "Montserrat", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: black;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

path:hover {
    fill: rgb(36, 49, 163);
}

    
.wrong {
    fill: red !important;
}

.correct {
    fill: rgb(16, 4, 68);
}
.correct:hover {
    fill: rgb(16, 4, 68);
}
